body {
    margin: 40px;
}

.bg {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(img/bg2.jpeg);
    background-size: cover;
    height: 100%;
}

h1 {
    font-family: 'Rock Salt', cursive;
    display: flex;
    text-shadow:
    0 0 10px #FFFFFF,
    0 0 20px #FFFFFF,
    0 0 30px #FFFFFF,
    0 0 40px rgb(253,170,92),
    0 0 70px rgb(253,170,92),
    0 0 80px rgb(253,170,92),
    0 0 100px rgb(253,170,92)
}

.playerSection {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 350px;
    background-color: rgb(247, 240, 213);
    box-shadow: 10px 10px 10px 5px rgba(0, 0, 0, 0.2);
    opacity: 0.9;
}

.playerSection img {
    display: flex;
    width: 40px;
    height: 40px;
    margin-left: 10px;
    margin-right: 5px;
}

.playerSection div {
    display: flex;
    margin-right: 20px;
    align-items: center;
}

h2 {
    display: flex;
    font-family: 'Yusei Magic', sans-serif;
}

.player-inactive {
    opacity: 0.2;
}

tr {
    width: 399px;
}

td {
    position: relative;
    width: 133px;
    height: 133px;
    border: 6px solid black;
    cursor: pointer;
}

td:hover {
    background-color: rgb(202,65,91,0.7);
}

table {
    border-collapse: collapse;
}

tr:first-child td {
    border-top: 0;
}

tr td:first-child {
    border-left: 0;
}

tr:last-child td {
    border-bottom: 0;
}

tr td:last-child {
    border-right: 0;
}

.shape {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 16px;
    left: 17px;
}

.d-none {
    display: none;
}

.horizontal-line {
    position: absolute;
    background-color: teal;
    height: 10px;
    width: 400px;
    transform: scaleX(0.0);
    transform: scaleY(0.0);
    transition: transform 225ms ease-in-out;
}

.make-vertical {
    transform: rotate(90deg) scaleX(0.0);
}

.gameover {
    position: absolute;
    left: 200px;
    top: 80px;
    z-index: 1;
    animation: zoomIn 1s ease-in-out;
}

@keyframes zoomIn {
    from{
        transform: scale(0);
        opacity: 0;
    }

    to{
        transform: scale(1);
        opacity: 1;
    }
}

.restart-btn {
    position: absolute;
    background-color: rgb(255,249,153);
    z-index: 1;
    height: 80px;
    width: 200px;
    font-size: 30;
    font-family: 'Balsamiq Sans', cursive;
    cursor: pointer;
    top: 150;
    left: 500;
}

.restart-btn:hover {
    background-color: rgb(225,125,151);
}


@media (max-width: 500px) {

    td {
        width: 90px;
        height: 90px;
    }

    .shape {
        width: 60px;
        height: 60px;
    }
}

@media (max-width: 321px) {

    body {
        margin: 20px;
    }

    td {
        width: 75px;
        height: 75px;
    }

    .shape {
        width: 45px;
        height: 45px;
    }
}

@media (max-width: 281px) {
    
    body {
        margin: 10px;
    }
}

